<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NinjaCoders</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#ifeq currentPage ''}}active{{/ifeq}}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item {{#ifeq currentPage 'about'}}active{{/ifeq}}" href="/about">What's NinjaCoders?</a></li>
            <li><a class="dropdown-item {{#ifeq currentPage 'newsletter'}}active{{/ifeq}}" href="/newsletter">Newsletter</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifeq currentPage 'contact'}}active{{/ifeq}}" aria-current="page" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifeq currentPage 'masterclass'}}active{{/ifeq}}" aria-current="page" href="/masterclass">Master Class</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifeq currentPage 'showcases'}}active{{/ifeq}}" aria-current="page" href="/showcases">Showcase</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/account" role="button">
                <i class="bi-person-fill"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart" role="button">
                <i class="bi-cart-fill"></i>
                {{#ifgt cartSize 0}}
                  <span class="badge rounded-pill badge-notification bg-danger">{{cartSize}}</span>
                {{/ifgt}}
              </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{#ifeq colorMode 'dark'}}
                        <i class="bi-moon-stars-fill"></i>
                    {{else}}
                        <i class="bi-sun-fill"></i>
                    {{/ifeq}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/colormode/dark"><i class="bi-moon-stars-fill"></i> Dark</a></li>
                    <li><a class="dropdown-item" href="/colormode/light"><i class="bi-sun-fill"></i> Light</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>