<div class="card" style="margin-top: 10px;">
    <div class="card-header">NinjaCoders Admin</div>
    <div class="card-body">
        <p>You have successfully logged in with Mastodon.</p>
        <p>You can close this window now.</p>
    </div>
</div>